@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style1 {
    background-color: #000;
    opacity: .5031920075416565;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 396px;
    height: 832px;
    flex-direction: column
  }
  .style8 {
    color: #fff;
    font-family: sfuitext,serif;
    font-size: 1.0625em;
    margin-top: 50px;
    height: 21px;
    align-self: center
  }
  .registerasvaletlocationcontainer1row1 {
    display: flex;
    margin-left: 45px;
    margin-top: 23px;
    width: 205px;
    height: 105px
  }
  .style7 {
    background-color: #fff;
    margin-left: 0;
    margin-top: 14px;
    width: 0;
    height: 0
  }
  .style27 {
    background-image: url(https://designresources.assets.yotako.io/yjqwocjusb0aoe.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 54px;
    border-top-right-radius: 54px;
    border-bottom-left-radius: 54px;
    border-bottom-right-radius: 54px;
    display: flex;
    margin-left: 100px;
    width: 105px;
    height: 100%;
    align-self: stretch;
    flex-direction: column
  }
  .style10,
  .style28 {
    background-color: #fff
  }
  .style28 {
    box-shadow: 0 0 3px 1px rgba(0,0,0,.1607843137254902);
    margin-left: 76px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-top: 78px;
    width: 21px;
    height: 21px
  }
  .style10 {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 18px;
    width: 310px;
    height: 40px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style9 {
    color: rgba(255,255,255,.5);
    font-family: sfuidisplay,serif;
    font-size: .9375em;
    font-weight: 300;
    margin-left: 19px;
    height: 19px
  }
  .style12 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 10px;
    width: 310px;
    height: 40px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style11 {
    color: rgba(255,255,255,.5);
    font-family: sfuidisplay,serif;
    font-size: .9375em;
    font-weight: 300;
    margin-left: 19px;
    height: 19px
  }
  .style14 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 10px;
    width: 310px;
    height: 40px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style13 {
    color: rgba(255,255,255,.5);
    font-family: sfuidisplay,serif;
    font-size: .9375em;
    font-weight: 300;
    margin-left: 17px;
    height: 19px
  }
  .style16 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 10px;
    width: 310px;
    height: 40px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style15 {
    color: rgba(255,255,255,.5);
    font-family: sfuidisplay,serif;
    font-size: .9375em;
    font-weight: 300;
    margin-left: 17px;
    height: 19px
  }
  .style18 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 10px;
    width: 310px;
    height: 40px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style17 {
    color: rgba(255,255,255,.5);
    font-family: sfuidisplay,serif;
    font-size: .9375em;
    font-weight: 300;
    margin-left: 19px;
    height: 19px
  }
  .style23 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 10px;
    width: 310px;
    height: 40px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style19 {
    color: rgba(255,255,255,.5);
    font-family: sfuidisplay,serif;
    font-size: .9375em;
    font-weight: 300;
    margin-left: 22px;
    height: 19px
  }
  .style24 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 10px;
    width: 310px;
    height: 40px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style20 {
    color: rgba(255,255,255,.5);
    font-family: sfuidisplay,serif;
    font-size: .9375em;
    font-weight: 300;
    margin-left: 22px;
    height: 19px
  }
  .style25 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 10px;
    width: 310px;
    height: 40px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style21 {
    color: rgba(255,255,255,.5);
    font-family: sfuidisplay,serif;
    font-size: .9375em;
    font-weight: 300;
    margin-left: 22px;
    height: 19px
  }
  .style26 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 10px;
    width: 310px;
    height: 40px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style22 {
    color: rgba(255,255,255,.5);
    font-family: sfuidisplay,serif;
    font-size: .9375em;
    font-weight: 300;
    margin-left: 22px;
    height: 19px
  }
  .style31 {
    background-color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 10px;
    width: 310px;
    height: 40px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style32 {
    color: #36454f;
    font-family: sfuidisplay,serif;
    font-size: .9375em;
    font-weight: 300;
    margin-left: 22px;
    height: 19px
  }
  .registerasvaletlocationcontainer1row12 {
    display: flex;
    margin-left: 43px;
    margin-top: 15px;
    width: 130px;
    height: 16px;
    align-items: stretch
  }
  .style38 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-left: 0;
    width: 15px
  }
  .style37 {
    color: #fff;
    font-family: sfuidisplay,serif;
    font-size: .8125em;
    font-weight: 300;
    margin-left: 16px
  }
  .style34 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 15px;
    width: 310px;
    height: 40px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style35 {
    color: #36454f;
    font-family: sfuidisplay,serif;
    font-size: .9375em;
    font-weight: 300;
    margin-left: 22px;
    height: 19px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style1 {
    background-color: #000;
    opacity: .5031920075416565;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 811px;
    height: 1704px;
    flex-direction: column
  }
  .style8 {
    color: #fff;
    font-family: sfuitext,serif;
    font-size: 2.176em;
    margin-top: 102px;
    height: 43px;
    align-self: center
  }
  .registerasvaletlocationcontainer1row1 {
    display: flex;
    margin-left: 92px;
    margin-top: 47px;
    width: 420px;
    height: 215px
  }
  .style7 {
    background-color: #fff;
    margin-left: 0;
    margin-top: 29px;
    width: 0;
    height: 0
  }
  .style27 {
    background-image: url(https://designresources.assets.yotako.io/yjqwocjusb0aoe.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 54px;
    border-top-right-radius: 54px;
    border-bottom-left-radius: 54px;
    border-bottom-right-radius: 54px;
    display: flex;
    margin-left: 205px;
    width: 215px;
    height: 100%;
    align-self: stretch;
    flex-direction: column
  }
  .style10,
  .style28 {
    background-color: #fff
  }
  .style28 {
    box-shadow: 0 0 3px 1px rgba(0,0,0,.1607843137254902);
    margin-left: 156px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-top: 160px;
    width: 43px;
    height: 43px
  }
  .style10 {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 37px;
    width: 635px;
    height: 82px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style9 {
    color: rgba(255,255,255,.5);
    font-family: sfuidisplay,serif;
    font-size: 1.92em;
    font-weight: 300;
    margin-left: 39px;
    height: 39px
  }
  .style12 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 20px;
    width: 635px;
    height: 82px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style11 {
    color: rgba(255,255,255,.5);
    font-family: sfuidisplay,serif;
    font-size: 1.92em;
    font-weight: 300;
    margin-left: 39px;
    height: 39px
  }
  .style14 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 20px;
    width: 635px;
    height: 82px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style13 {
    color: rgba(255,255,255,.5);
    font-family: sfuidisplay,serif;
    font-size: 1.92em;
    font-weight: 300;
    margin-left: 35px;
    height: 39px
  }
  .style16 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 20px;
    width: 635px;
    height: 82px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style15 {
    color: rgba(255,255,255,.5);
    font-family: sfuidisplay,serif;
    font-size: 1.92em;
    font-weight: 300;
    margin-left: 35px;
    height: 39px
  }
  .style18 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 20px;
    width: 635px;
    height: 82px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style17 {
    color: rgba(255,255,255,.5);
    font-family: sfuidisplay,serif;
    font-size: 1.92em;
    font-weight: 300;
    margin-left: 39px;
    height: 39px
  }
  .style23 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 20px;
    width: 635px;
    height: 82px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style19 {
    color: rgba(255,255,255,.5);
    font-family: sfuidisplay,serif;
    font-size: 1.92em;
    font-weight: 300;
    margin-left: 45px;
    height: 39px
  }
  .style24 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 20px;
    width: 635px;
    height: 82px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style20 {
    color: rgba(255,255,255,.5);
    font-family: sfuidisplay,serif;
    font-size: 1.92em;
    font-weight: 300;
    margin-left: 45px;
    height: 39px
  }
  .style25 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 20px;
    width: 635px;
    height: 82px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style21 {
    color: rgba(255,255,255,.5);
    font-family: sfuidisplay,serif;
    font-size: 1.92em;
    font-weight: 300;
    margin-left: 45px;
    height: 39px
  }
  .style26 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 20px;
    width: 635px;
    height: 82px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style22 {
    color: rgba(255,255,255,.5);
    font-family: sfuidisplay,serif;
    font-size: 1.92em;
    font-weight: 300;
    margin-left: 45px;
    height: 39px
  }
  .style31 {
    background-color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 20px;
    width: 635px;
    height: 82px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style32 {
    color: #36454f;
    font-family: sfuidisplay,serif;
    font-size: 1.92em;
    font-weight: 300;
    margin-left: 45px;
    height: 39px
  }
  .registerasvaletlocationcontainer1row12 {
    display: flex;
    margin-left: 88px;
    margin-top: 31px;
    width: 266px;
    height: 33px;
    align-items: stretch
  }
  .style38 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-left: 0;
    width: 31px
  }
  .style37 {
    color: #fff;
    font-family: sfuidisplay,serif;
    font-size: 1.6640000000000001em;
    font-weight: 300;
    margin-left: 33px
  }
  .style34 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 31px;
    width: 635px;
    height: 82px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style35 {
    color: #36454f;
    font-family: sfuidisplay,serif;
    font-size: 1.92em;
    font-weight: 300;
    margin-left: 45px;
    height: 39px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style1 {
    background-color: #000;
    opacity: .5031920075416565;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 972px;
    height: 2041px;
    flex-direction: column
  }
  .style8 {
    color: #fff;
    font-family: sfuitext,serif;
    font-size: 2.6066666666666665em;
    margin-top: 123px;
    height: 52px;
    align-self: center
  }
  .registerasvaletlocationcontainer1row1 {
    display: flex;
    margin-left: 110px;
    margin-top: 56px;
    width: 503px;
    height: 258px
  }
  .style7 {
    background-color: #fff;
    margin-left: 0;
    margin-top: 34px;
    width: 0;
    height: 0
  }
  .style27 {
    background-image: url(https://designresources.assets.yotako.io/yjqwocjusb0aoe.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 54px;
    border-top-right-radius: 54px;
    border-bottom-left-radius: 54px;
    border-bottom-right-radius: 54px;
    display: flex;
    margin-left: 245px;
    width: 258px;
    height: 100%;
    align-self: stretch;
    flex-direction: column
  }
  .style10,
  .style28 {
    background-color: #fff
  }
  .style28 {
    box-shadow: 0 0 3px 1px rgba(0,0,0,.1607843137254902);
    margin-left: 186px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-top: 191px;
    width: 52px;
    height: 52px
  }
  .style10 {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 44px;
    width: 761px;
    height: 98px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style9 {
    color: rgba(255,255,255,.5);
    font-family: sfuidisplay,serif;
    font-size: 2.3em;
    font-weight: 300;
    margin-left: 47px;
    height: 47px
  }
  .style12 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 25px;
    width: 761px;
    height: 98px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style11 {
    color: rgba(255,255,255,.5);
    font-family: sfuidisplay,serif;
    font-size: 2.3em;
    font-weight: 300;
    margin-left: 47px;
    height: 47px
  }
  .style14 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 25px;
    width: 761px;
    height: 98px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style13 {
    color: rgba(255,255,255,.5);
    font-family: sfuidisplay,serif;
    font-size: 2.3em;
    font-weight: 300;
    margin-left: 42px;
    height: 47px
  }
  .style16 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 25px;
    width: 761px;
    height: 98px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style15 {
    color: rgba(255,255,255,.5);
    font-family: sfuidisplay,serif;
    font-size: 2.3em;
    font-weight: 300;
    margin-left: 42px;
    height: 47px
  }
  .style18 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 25px;
    width: 761px;
    height: 98px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style17 {
    color: rgba(255,255,255,.5);
    font-family: sfuidisplay,serif;
    font-size: 2.3em;
    font-weight: 300;
    margin-left: 47px;
    height: 47px
  }
  .style23 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 25px;
    width: 761px;
    height: 98px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style19 {
    color: rgba(255,255,255,.5);
    font-family: sfuidisplay,serif;
    font-size: 2.3em;
    font-weight: 300;
    margin-left: 54px;
    height: 47px
  }
  .style24 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 25px;
    width: 761px;
    height: 98px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style20 {
    color: rgba(255,255,255,.5);
    font-family: sfuidisplay,serif;
    font-size: 2.3em;
    font-weight: 300;
    margin-left: 54px;
    height: 47px
  }
  .style25 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 25px;
    width: 761px;
    height: 98px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style21 {
    color: rgba(255,255,255,.5);
    font-family: sfuidisplay,serif;
    font-size: 2.3em;
    font-weight: 300;
    margin-left: 54px;
    height: 47px
  }
  .style26 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 25px;
    width: 761px;
    height: 98px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style22 {
    color: rgba(255,255,255,.5);
    font-family: sfuidisplay,serif;
    font-size: 2.3em;
    font-weight: 300;
    margin-left: 54px;
    height: 47px
  }
  .style31 {
    background-color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 25px;
    width: 761px;
    height: 98px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style32 {
    color: #36454f;
    font-family: sfuidisplay,serif;
    font-size: 2.3em;
    font-weight: 300;
    margin-left: 54px;
    height: 47px
  }
  .registerasvaletlocationcontainer1row12 {
    display: flex;
    margin-left: 105px;
    margin-top: 37px;
    width: 319px;
    height: 39px;
    align-items: stretch
  }
  .style38 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-left: 0;
    width: 37px
  }
  .style37 {
    color: #fff;
    font-family: sfuidisplay,serif;
    font-size: 1.9933333333333332em;
    font-weight: 300;
    margin-left: 39px
  }
  .style34 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 37px;
    width: 761px;
    height: 98px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style35 {
    color: #36454f;
    font-family: sfuidisplay,serif;
    font-size: 2.3em;
    font-weight: 300;
    margin-left: 54px;
    height: 47px
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style1 {
    background-color: #000;
    opacity: .5031920075416565;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 1267px;
    height: 2662px;
    flex-direction: column
  }
  .style8 {
    color: #fff;
    font-family: sfuitext,serif;
    font-size: 3.4000000000000004em;
    margin-top: 160px;
    height: 67px;
    align-self: center
  }
  .registerasvaletlocationcontainer1row1 {
    display: flex;
    margin-left: 144px;
    margin-top: 74px;
    width: 656px;
    height: 336px
  }
  .style7 {
    background-color: #fff;
    margin-left: 0;
    margin-top: 45px;
    width: 0;
    height: 0
  }
  .style27 {
    background-image: url(https://designresources.assets.yotako.io/yjqwocjusb0aoe.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 54px;
    border-top-right-radius: 54px;
    border-bottom-left-radius: 54px;
    border-bottom-right-radius: 54px;
    display: flex;
    margin-left: 320px;
    width: 336px;
    height: 100%;
    align-self: stretch;
    flex-direction: column
  }
  .style10,
  .style28 {
    background-color: #fff
  }
  .style28 {
    box-shadow: 0 0 3px 1px rgba(0,0,0,.1607843137254902);
    margin-left: 243px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-top: 250px;
    width: 67px;
    height: 67px
  }
  .style10 {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 58px;
    width: 992px;
    height: 128px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style9 {
    color: rgba(255,255,255,.5);
    font-family: sfuidisplay,serif;
    font-size: 3em;
    font-weight: 300;
    margin-left: 61px;
    height: 61px
  }
  .style12 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 32px;
    width: 992px;
    height: 128px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style11 {
    color: rgba(255,255,255,.5);
    font-family: sfuidisplay,serif;
    font-size: 3em;
    font-weight: 300;
    margin-left: 61px;
    height: 61px
  }
  .style14 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 32px;
    width: 992px;
    height: 128px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style13 {
    color: rgba(255,255,255,.5);
    font-family: sfuidisplay,serif;
    font-size: 3em;
    font-weight: 300;
    margin-left: 54px;
    height: 61px
  }
  .style16 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 32px;
    width: 992px;
    height: 128px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style15 {
    color: rgba(255,255,255,.5);
    font-family: sfuidisplay,serif;
    font-size: 3em;
    font-weight: 300;
    margin-left: 54px;
    height: 61px
  }
  .style18 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 32px;
    width: 992px;
    height: 128px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style17 {
    color: rgba(255,255,255,.5);
    font-family: sfuidisplay,serif;
    font-size: 3em;
    font-weight: 300;
    margin-left: 61px;
    height: 61px
  }
  .style23 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 32px;
    width: 992px;
    height: 128px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style19 {
    color: rgba(255,255,255,.5);
    font-family: sfuidisplay,serif;
    font-size: 3em;
    font-weight: 300;
    margin-left: 70px;
    height: 61px
  }
  .style24 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 32px;
    width: 992px;
    height: 128px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style20 {
    color: rgba(255,255,255,.5);
    font-family: sfuidisplay,serif;
    font-size: 3em;
    font-weight: 300;
    margin-left: 70px;
    height: 61px
  }
  .style25 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 32px;
    width: 992px;
    height: 128px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style21 {
    color: rgba(255,255,255,.5);
    font-family: sfuidisplay,serif;
    font-size: 3em;
    font-weight: 300;
    margin-left: 70px;
    height: 61px
  }
  .style26 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 32px;
    width: 992px;
    height: 128px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style22 {
    color: rgba(255,255,255,.5);
    font-family: sfuidisplay,serif;
    font-size: 3em;
    font-weight: 300;
    margin-left: 70px;
    height: 61px
  }
  .style31 {
    background-color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 32px;
    width: 992px;
    height: 128px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style32 {
    color: #36454f;
    font-family: sfuidisplay,serif;
    font-size: 3em;
    font-weight: 300;
    margin-left: 70px;
    height: 61px
  }
  .registerasvaletlocationcontainer1row12 {
    display: flex;
    margin-left: 138px;
    margin-top: 48px;
    width: 416px;
    height: 51px;
    align-items: stretch
  }
  .style38 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-left: 0;
    width: 48px
  }
  .style37 {
    color: #fff;
    font-family: sfuidisplay,serif;
    font-size: 2.6em;
    font-weight: 300;
    margin-left: 51px
  }
  .style34 {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    margin-top: 48px;
    width: 992px;
    height: 128px;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style35 {
    color: #36454f;
    font-family: sfuidisplay,serif;
    font-size: 3em;
    font-weight: 300;
    margin-left: 70px;
    height: 61px
  }
}